body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}


.main-navigation {
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: #766357;
}

.header-promo {
  text-align: center;
}

.header-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.promo-title {
  line-height: 26px;
}

.features-list,
.advantages-list {
  list-style: none;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list h3,
.features-list h4 {
  font-size: 21px;
}

.feature-item,
.advantage-item {
  text-align: center;
}

.advantages-list {
  background-color: #eeeeee;
}

.search-question {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-date {
  text-align: center;
  line-height: 24px;
}

.btn-form {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.btn-form:hover {
  background-color: #604e43;
}

.btn-form:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-item input {
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.search-item label {
  font-weight: 700;
}

.search-item input::placeholder {
  color: #000000;
}

.btn-search {

}


/*

Фильтр-ползунок

.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


*/
