body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.img {
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  width: 140px;
  height: 68px;
  transform: translateX(-50%);
}

.main-navigation {
  margin: 0 73px;
  height: 56px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 1056px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  width: 200px;
  padding: 14px 0 0 0;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation li:nth-child(1) a,
.site-navigation li:nth-child(2) a {
  text-align: left;
}

.site-navigation li:nth-child(2) a {
  margin-right: 131px;
}

.site-navigation li:nth-child(3) a,
.site-navigation li:nth-child(4) a {
  text-align: right;
}

.site-navigation li:nth-child(3) a {
  letter-spacing: 0.3px;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
  cursor: default;
}

.intro-welcome {
  padding: 76px 0 79px 0;
  background-image: url("../img/background_welcome.jpg");
  background-position: 0% 20%;
  background-repeat: no-repeat;
}

.intro-welcome img {
  display: block;
  margin: 0 auto;
}

.intro-welcome::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 5000px;
  height: 73px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  transform: translateY(30%);
}

.header-promo {
  text-align: center;
}

.header-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.promo-title {
  line-height: 26px;
}

.features-list,
.advantages-list {
  list-style: none;
}

.features-list > li:first-child,
.features-list > li:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}

.features-list h3,
.features-list h4 {
  font-size: 21px;
}

.feature-item,
.advantage-item {
  text-align: center;
}

.advantages-list {
  background-color: #eeeeee;
}

.search-question {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-date {
  text-align: center;
  line-height: 24px;
}

.btn-form {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
}

.btn-form:hover,
.btn-form:focus {
  background-color: #604e43;
}

.btn-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-item input[type="text"] {
  font: inherit;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
}

.search-item label {
  font-weight: 700;
}

.search-item input::placeholder {
  color: #000000;
}

.btn-amount {
  display: block;
  /* box-sizing: border-box; */
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  fill: #a9a9a9;
  border: none;
}

.btn-amount:hover path,
.btn-amount:focus path {
  fill: #000000;
}

.btn-amount:active path {
  fill: #81b3d2;
}

.btn-search {
  display: block;
  /* box-sizing: border-box; */
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  color: #000000;
  background-color: #ffffff;
  opacity: 0.9;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-social li {
  list-style: none;
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active  {
  background-color: #5496bd;
}

.social-button:active path {
  fill-opacity: 0.3;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright span {
  line-height: 26px;
}

.logo-copyright:hover path,
.logo-copyright:focus path {
  fill: #81b3d2;
}

.logo-copyright:active path{
  fill: #bdbbbc;
}

.hotel-search {
  background-color: #885d56;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter label {
  color: #ffffff;
  cursor: pointer;
}

.sorting > p {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort b {
  font-size: 12px;
  line-height: 18px;
}

.sort ul {
  list-style: none;
}

.sort-list a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item:first-child a {
  color: #81b3d2;
  cursor: default;
}

.sort-item:not(:first-child) a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dashed;
}

.sort-item:not(:first-child) a:hover,
.sort-item:not(:first-child) a:focus {
  color: #81b3d2;
}

.sort-item:not(:first-child) a:active {
  color: #000000;
  text-decoration: none;
}

.housing-list {
  list-style: none;
}

.card-info .housing-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.card-info .housing-title a:hover,
.card-info .housing-title a:focus {
  color: #81b3d2;
}

.card-info .housing-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-info .btn-detailed,
.card-info .btn-book {
  font-weight: 700;
  color: #ffffff;
}

.card-info .btn-detailed {
  background-color: #81b3d2;
}

.card-info .btn-detailed:hover,
.card-info .btn-detailed:focus {
  background-color: #669ec0;
}

.card-info .btn-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.card-info .btn-book {
  background-color: #766357;
}

.card-info .btn-book:hover,
.card-info .btn-book:focus {
  background-color: #604e43;
}

.card-info .btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.card-info .rating {
  color: #666666;
  background-color: #f2f2f2;
}






/*начало фильтр ползунок*/
.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*конец фильтр ползунок*/

