body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

/*----------------------------------------HEADER----------------------------------------*/

.main-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom:  0;
  left: 0;
  width: 140px;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation {
  position: relative;
  margin: 0 72px;
  min-height: 56px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1056px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  width: 200px;
  padding: 14px 0 0 0;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation li:nth-child(1) a,
.site-navigation li:nth-child(2) a {
  text-align: left;
}

.site-navigation li:nth-child(2) a {
  margin-right: 131px;
}

.site-navigation li:nth-child(3) a,
.site-navigation li:nth-child(4) a {
  text-align: right;
}

.site-navigation li:nth-child(3) a {
  letter-spacing: 0.3px;
}

.site-navigation a[href]:hover,
.site-navigation a[href]:focus {
  color: #81b3d2;
}

.site-navigation a[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
  cursor: default;
}

.intro-welcome {
  padding: 76px 0 0 0;
  height: 507px;
  background-color: #b3d6ec;
  background:
  url("../img/polygon.png") no-repeat 50% 100%,
  url("../img/background_welcome.jpg") no-repeat 0% 21%;
}

.intro-welcome img {
  display: block;
  margin: 0 auto;
}

.header-promo {
  padding: 60px 0 38px 0;
  text-align: center;
}

.header-title {
  max-width: 443px;
  margin: 0 auto 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.promo-title {
  line-height: 26px;
}

.features-list,
.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features,
.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.feature-inside {
  display: flex;
  flex-wrap: wrap;
  order: 5;
}

.feature-town,
.feature-bridge {
  display: flex;
}

.feature-bridge {
  flex-direction: row-reverse;
}

.feature-town {
  order: -2;
}

.feature-bridge {
  order: 5;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  order: -1;
}

.advantage-item {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.features-list h3,
.features-list h4 {
  font-size: 21px;
}

.feature-up {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item,
.advantage-item {
  text-align: center;
}

.feature-text {
  width: 400px;
}

.feature-text h3 {
  margin: 0 auto;
  padding: 46px 123px 25px 126px;
}

.feature-text p {
  max-width: 302px;
  margin: 0 auto;
  padding: 0;
}

.feature-text span {
  display: block;
  padding: 0 0 22px 0;
}

.feature-down {
  color: #333333;
  background-color: #eeeeee;
}

.feature-down p {
  max-width: 264px;
  padding-bottom: 58px;
}

.advantages-list .advantage-housing {
  background: url("../img/housing.png") 50% 23% no-repeat;
}

.advantages-list .advantage-food {
  background: url("../img/food.png") 50% 24% no-repeat;
}

.advantages-list .advantage-souvenirs {
  background: url("../img/souvenirs.png") 50% 22% no-repeat;
}

.advantages-list h4 {
  margin: 0 auto;
  padding: 26px 0 25px 0;
}

.advantage-item {
  padding: 135px 0 0px;
}

.advantage-item p {
  max-width: 288px;
  margin: 0 auto;
  padding: 0 0 81px 0;
  color: #333333;
}

.search-question {
  text-align: center;
  margin: 50px 20px 24px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-date {
  text-align: center;
  line-height: 24px;
  margin: 0 20px 47px;
}

.btn-form {
  position: relative;
  z-index: 10;
  display: block;
  padding: 30px 10px;
  max-width: 568px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.btn-form:hover,
.btn-form:focus {
  background-color: #604e43;
}

.btn-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

@keyframes appear {
  0%,
  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-15px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(15px);
  }
}

@keyframes disappear {
  0%,
  100% {
    transform: translateX(0);
  }
}

.modal-form {
  position: relative;
  display: none;
}

.search-form {
  position: absolute;
  top: 0;
  z-index: 10;
  left: 316px;
  width: 568px;
  padding: 55px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-show {
  display: block;
  animation: appear;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;

  display: none;

  background-color: rgba(0, 0, 0, 0.25);
}

.overlay-show {
  display: block;
}


.modal-error {
  animation: shake 0.5s;
  z-index: 8;
}

.search-item input[type="text"] {
  font: inherit;
  width: 346px;
  margin: 0;
  padding: 6px 13px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

p.search-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 29px 0;
}

.search-amount input[type="text"] {
  text-align: center;
  width: 114px;
}

p.search-amount {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 55px;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.search-item label {
  font-weight: 700;
}

.search-item input::placeholder {
  color: #000000;
}

.btn-calendar {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
}

.btn-calendar path {
  fill: #cacaca;
}

.btn-calendar:hover path {
  fill: #000000;
}

.btn-calendar:active path {
  fill: #81b3d2;
}

.btn-amount {
  display: block;
  position: absolute;
  text-align: center;
  background-color: transparent;
  fill: #a9a9a9;
  border: none;
}

.btn-amount:hover path,
.btn-amount:focus path {
  fill: #000000;
}

.btn-amount:active path {
  fill: #81b3d2;
}

.reduce-adults {
  top: 12px;
  left: 120px;
}

.add-adults {
  top: 12px;
  left: 195px;
}

.reduce-children {
  top: 12px;
  right: 82px;
}

.add-children {
  top: 12px;
  right: 7px;
}

.btn-search {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.btn-search:hover,
.btn-search:focus {
  background-color: #669ec0;
}

.btn-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map img {
  display: block;
}

.footer-main {
  bottom: 0;
  margin: 0 auto;
  width: 1200px;
  color: #000000;
  background-color: #ffffff;
}

.footer-index {
  position: absolute;
  padding-top: 31px;
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 101px 31px 132px;
  color: #000000;
  background-color: transparent;
}

.footer-hashtag {
  margin: 0;
  padding: 15px 0 0 0;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 30px;
  color: #000000;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
}

a.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active  {
  background-color: #5496bd;
}


.twitter-icon:active::before,
.facebook-icon:active::before,
.youtube-icon:active::before {
  opacity: 0.3;
}


.twitter-icon::before {
  content: "\f099";
  padding: 13px;
  font-size: 22px;
  color: #ffffff;
}

.facebook-icon::before {
  content: "\f09a";
  padding: 13px;
  font-size: 22px;
  color: #ffffff;
}

.youtube-icon::before {
  content: "\f16a";
  padding: 13px;
  font-size: 22px;
  color: #ffffff;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  width: 197px;
}

.footer-copyright span {
  padding-top: 10px;
  line-height: 26px;
}

.logo-copyright:hover path,
.logo-copyright:focus path {
  fill: #81b3d2;
}

.logo-copyright:active path{
fill: #bdbbbc;
}

/*-------------------------------HOTELS PAGES---FILTERS-----------------------------*/

.filter-hotel {
  box-sizing: content-box;
}

.filter-hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('../img/filter_background.jpg');
  background-color: #885d56;
}

.filter-form {
  display: flex;
  width: 550px;
  padding: 27px 72px 6px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form ul {
  width: 235px;
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.filter-option  {
  position: relative;
  margin: 0 0 25px 0;
}

.filter-form legend {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filter-form label {
  padding-left: 40px;
  color: #ffffff;
  cursor: pointer;
}

.filter-input + label::before,
.filter-input + label:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  background: url('../img/checkbox-off.svg') no-repeat;
}

.filter-input:checked + label::before {
  width: 27px;
  height: 23px;
  background: url('../img/checkbox-on.svg') no-repeat;
}

.filter-input:disabled + label::before,
.filter-input:checked:disabled + label::before {
  opacity: 0.4;
  cursor: default;
}

.filter-input:disabled + label,
.filter-input:checked:disabled + label {
  opacity: 0.8;
  cursor: default;
}

/*---------------------------------------HOUSING - CHOICE---------------------------------------*/

.sort {
  display: flex;
  margin-bottom: 23px;
  padding: 0 72px 0;
  border-bottom: 1px solid #e5e5e5;
}

.housing-find {
  display: block;
  margin: 30px 47px 32px 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort b {
  margin-top: 36px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list {
  display: flex;
  align-items: center;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item {
  padding-right: 33px;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:hover,
.sort-link:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-link:active {
  color: #000000;
  border-bottom: none;
}

.sort-item .sort-active,
.sort-buttons .sort-active{
  color: #81b3d2;
  cursor: default;
}

.housing-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-buttons {
  display: flex;
  margin-top: 40px;
  margin-left: auto;
  position: relative;
}

.button-up {
  margin-right: 15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #cacaca transparent;
}

.button-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #81b3d2 transparent transparent transparent;
}

.button-up:hover {
  border-color: transparent transparent #231f20 transparent;
}

.button-up:focus,
.button-up:active {
  border-color: transparent transparent #81b3d2 transparent;
}


/*---------------------------------------HOUSING - CHOICE ---HOUSING-LIST-------------------------------------------*/

.housing-list article {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 30px 72px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.housing-list img {
  width: 135px;
  margin-right: 30px;
}

.card-info {
  width: 780px;
}

.card-info h3 {
  margin: 0;
  padding-bottom: 7px;
}

.housing-price {
  margin-bottom: 17px;
}

.housing-price p {
  display: inline-block;
  margin: 0;
  padding-right: 35px;
}

.card-info .housing-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.card-info .housing-title a:hover,
.card-info .housing-title a:focus {
  color: #81b3d2;
}

.card-info .housing-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-info .btn-detailed,
.card-info .btn-book {
  font-weight: 700;
  color: #ffffff;
}

.card-info .btn-detailed {
  min-width: 110px;
  margin-right: 2px;
  padding: 4px 17px;
  background-color: #81b3d2;
}

.card-info .btn-detailed:hover,
.card-info .btn-detailed:focus {
  background-color: #669ec0;
}

.card-info .btn-detailed:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.card-info .btn-book {
  min-width: 110px;
  margin-right: 10px;
  padding: 4px 17px;
  background-color: #766357;
}

.card-info .btn-book:hover,
.card-info .btn-book:focus {
  background-color: #604e43;
}

.card-info .btn-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.card-info .rating,
.rating-sum .rating {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 3px 10px;
  color: #666666;
  background-color: #f2f2f2;
}

.rating-sum .rating {
  display: inline-block;
  margin: 0;
}

.rating-housing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating-icon {
  text-align: right;
}

.star-icon::before {
  content: "\f005";
  font-size: 17px;
  color: #81b3d2;
}





/*начало фильтр ползунок*/
.filter-range {
  width: 330px;
  margin: 27px 59px 27px 85px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*конец фильтр ползунок*/

